.vscode/**
.vscode-test-web/**
.fthtml/
src/**
out/**
node_modules/**
.gitignore
webpack.config.js
.yarnrc
fthtmlconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
*.todo